.btn {
  border-radius: 10px!important;
  border: 1px solid #747474!important;
  padding: 10px!important;
}

.primary {
  background-color: #000000!important;
  color: #fff!important;
  font-weight: 600!important;
}

.secondary {
  background-color: #fff;
  font-weight: 600!important;
}